In [38]:
import pandas as pd
import pickle 
from scipy.stats import poisson

In [11]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\fedev\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\fedev\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\fedev\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\fedev\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fedev\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\fedev\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [12]:
df_data_historica = pd.read_csv('Clean_fifa_worldcup_matches.csv')
df_fixture =  pd.read_csv('clean_fifa_worldcup_fixture .csv')
df_faltante = pd.read_csv('fifa_worldcup_missing_data.csv')
dict_table = pickle.load(open('dict_table','rb'))

In [13]:
df_home = df_data_historica [['HomeTeam', 'HomeGoals', 'AwayGoals']]
df_away = df_data_historica [['AwayTeam', 'HomeGoals', 'AwayGoals']]

In [14]:
df_home = df_home.rename(columns={'Hometeam':'Team','HomeGoals':'GoalsScored','AwayGoals': 'GoalsConceded'}) 
           
df_away= df_away.rename(columns={'AwayTeam':'Team','HomeGoals':'GoalsConceded','AwayGoals': 'GoalsScored'})

In [15]:
df_team_strength = pd.concat ([df_home,df_away], ignore_index=True).groupby('Team').mean()
df_team_strength

             HomeTeam  GoalsScored  GoalsConceded
Team
Algeria           NaN     1.142857       1.285714
Angola            NaN     0.500000       0.500000
Argentina         NaN     1.130435       1.869565
Australia         NaN     0.666667       2.000000
Austria           NaN     0.733333       1.666667
...               ...          ...            ...
Uruguay           NaN     0.826087       1.608696
Wales             NaN     0.500000       0.750000
West Germany      NaN     1.500000       1.791667
Yugoslavia        NaN     0.777778       1.833333
Zaire             NaN     0.000000       9.000000

[85 rows x 3 columns]

In [16]:
def predict_points(home, away):
    if home in df_team_strength.index and away in df_team_strength.index:
        # goals_scored * goals_conceded
        lamb_home = df_team_strength.at[home,'GoalsScored'] * df_team_strength.at[away,'GoalsConceded']
        lamb_away = df_team_strength.at[away,'GoalsScored'] * df_team_strength.at[home,'GoalsConceded']
        prob_home, prob_away, prob_draw = 0, 0, 0
        for x in range(0,11): #number of goals home team
            for y in range(0, 11): #number of goals away team
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p
        
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        return (points_home, points_away)
    else:
        return (0, 0)

In [17]:
 df_team_strength

             HomeTeam  GoalsScored  GoalsConceded
Team
Algeria           NaN     1.142857       1.285714
Angola            NaN     0.500000       0.500000
Argentina         NaN     1.130435       1.869565
Australia         NaN     0.666667       2.000000
Austria           NaN     0.733333       1.666667
...               ...          ...            ...
Uruguay           NaN     0.826087       1.608696
Wales             NaN     0.500000       0.750000
West Germany      NaN     1.500000       1.791667
Yugoslavia        NaN     0.777778       1.833333
Zaire             NaN     0.000000       9.000000

[85 rows x 3 columns]

In [18]:
df_fixture_group_48  = df_fixture[:48].copy()
df_fixture_knockout = df_fixture[48:56].copy()
df_fixture_quarter =  df_fixture[50:60].copy()
df_fixture_semi =  df_fixture[60:62].copy()
df_fixture_final=  df_fixture[62:].copy()

In [19]:
df_fixture_group_48

             home     score           away  year
0           Qatar   Match 1        Ecuador  2022
1         Senegal   Match 2    Netherlands  2022
2           Qatar  Match 18        Senegal  2022
3     Netherlands  Match 19        Ecuador  2022
4         Ecuador  Match 35        Senegal  2022
5     Netherlands  Match 36          Qatar  2022
6         England   Match 3           Iran  2022
7   United States   Match 4          Wales  2022
8           Wales  Match 17           Iran  2022
9         England  Match 20  United States  2022
10          Wales  Match 33        England  2022
11           Iran  Match 34  United States  2022
12      Argentina   Match 8   Saudi Arabia  2022
13         Mexico   Match 7         Poland  2022
14         Poland  Match 22   Saudi Arabia  2022
15      Argentina  Match 24         Mexico  2022
16         Poland  Match 39      Argentina  2022
17   Saudi Arabia  Match 40         Mexico  2022
18        Denmark   Match 6        Tunisia  2022
19         France   Match 5      Australia  2022
20        Tunisia  Match 21      Australia  2022
21         France  Match 23        Denmark  2022
22      Australia  Match 37        Denmark  2022
23        Tunisia  Match 38         France  2022
24        Germany  Match 11          Japan  2022
25          Spain  Match 10     Costa Rica  2022
26          Japan  Match 25     Costa Rica  2022
27          Spain  Match 28        Germany  2022
28          Japan  Match 43          Spain  2022
29     Costa Rica  Match 44        Germany  2022
30        Morocco  Match 12        Croatia  2022
31        Belgium   Match 9         Canada  2022
32        Belgium  Match 26        Morocco  2022
33        Croatia  Match 27         Canada  2022
34        Croatia  Match 41        Belgium  2022
35         Canada  Match 42        Morocco  2022
36    Switzerland  Match 13       Cameroon  2022
37         Brazil  Match 16         Serbia  2022
38       Cameroon  Match 29         Serbia  2022
39         Brazil  Match 31    Switzerland  2022
40         Serbia  Match 47    Switzerland  2022
41       Cameroon  Match 48         Brazil  2022
42        Uruguay  Match 14    South Korea  2022
43       Portugal  Match 15          Ghana  2022
44    South Korea  Match 30          Ghana  2022
45       Portugal  Match 32        Uruguay  2022
46          Ghana  Match 45        Uruguay  2022
47    South Korea  Match 46       Portugal  2022

In [19]:
dict_table = pickle.load(open('dict_table','rb'))
df_historial_data = pd.read_csv('Clean_fifa_worldcup_matches.csv')
df_faltante= pd.read_csv('Clean_fifa_worldcup_fixture.csv')

In [20]:
df_data_historica =pd.read_csv('fifa_worldcup_matches.csv')

In [21]:
for group in dict_table:
    teams_in_group = dict_table[group]['Team'].values
    df_fixture_group_6 = df_fixture_group_48[df_fixture_group_48['home'].isin(teams_in_group)]
    for index, row in df_fixture_group_6.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
        dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] += points_away

    dict_table[group] = dict_table[group].sort_values('Pts', ascending=False).reset_index()
    dict_table[group] = dict_table[group][['Team', 'Pts']]
    dict_table[group] = dict_table[group].round(0)

In [22]:
for group in dict_table:
    group_winner = dict_table[group].loc[0, 'Team']
    runners_up = dict_table[group].loc[1, 'Team']
    df_fixture_knockout.replace({f'Winners {group}': group_winner,
                                 f'Runners-up {group}': runners_up}, inplace=True)

df_fixture_knockout  ['Winner'] = '?'
df_fixture_knockout

       home     score         away  year Winner
48  Senegal  Match 49        Wales  2022      ?
49   Poland  Match 50       France  2022      ?
50  Denmark  Match 52    Argentina  2022      ?
51  England  Match 51  Netherlands  2022      ?
52  Germany  Match 53      Morocco  2022      ?
53   Brazil  Match 54      Uruguay  2022      ?
54  Croatia  Match 55        Spain  2022      ?
55    Ghana  Match 56       Serbia  2022      ?

In [23]:
df_team_strength

             HomeTeam  GoalsScored  GoalsConceded
Team
Algeria           NaN     1.142857       1.285714
Angola            NaN     0.500000       0.500000
Argentina         NaN     1.130435       1.869565
Australia         NaN     0.666667       2.000000
Austria           NaN     0.733333       1.666667
...               ...          ...            ...
Uruguay           NaN     0.826087       1.608696
Wales             NaN     0.500000       0.750000
West Germany      NaN     1.500000       1.791667
Yugoslavia        NaN     0.777778       1.833333
Zaire             NaN     0.000000       9.000000

[85 rows x 3 columns]

In [24]:
def get_winner(df_fixture_updated):
    for index, row in df_fixture_updated.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        if points_home > points_away:
            winner = home
        else:
            winner = away
        df_fixture_updated.loc[index, 'winner'] = winner
    return df_fixture_updated

In [25]:
def update_table(df_fixture_round_1, df_fixture_round_2):
    for index, row in df_fixture_round_1.iterrows():
        winner = df_fixture_round_1.loc[index, 'winner']
        match = df_fixture_round_1.loc[index, 'score']
        df_fixture_round_2.replace({f'Winners {match}':winner}, inplace=True)
    df_fixture_round_2['winner'] = '?'
    return df_fixture_round_2

In [26]:

get_winner(df_fixture_knockout)

       home     score         away  year Winner       winner
48  Senegal  Match 49        Wales  2022      ?      Senegal
49   Poland  Match 50       France  2022      ?       France
50  Denmark  Match 52    Argentina  2022      ?      Denmark
51  England  Match 51  Netherlands  2022      ?  Netherlands
52  Germany  Match 53      Morocco  2022      ?      Germany
53   Brazil  Match 54      Uruguay  2022      ?       Brazil
54  Croatia  Match 55        Spain  2022      ?      Croatia
55    Ghana  Match 56       Serbia  2022      ?       Serbia

In [27]:
update_table(df_fixture_knockout, df_fixture_quarter)

               home     score                away  year winner
50  Winners Group D  Match 52  Runners-up Group C  2022      ?
51  Winners Group B  Match 51  Runners-up Group A  2022      ?
52  Winners Group E  Match 53  Runners-up Group F  2022      ?
53  Winners Group G  Match 54  Runners-up Group H  2022      ?
54  Winners Group F  Match 55  Runners-up Group E  2022      ?
55  Winners Group H  Match 56  Runners-up Group G  2022      ?
56          Germany  Match 58              Brazil  2022      ?
57          Senegal  Match 57              France  2022      ?
58          Croatia  Match 60              Serbia  2022      ?
59      Netherlands  Match 59             Denmark  2022      ?

In [31]:
get_winner(df_fixture_quarter)

               home     score                away  year              winner
50  Winners Group D  Match 52  Runners-up Group C  2022  Runners-up Group C
51  Winners Group B  Match 51  Runners-up Group A  2022  Runners-up Group A
52  Winners Group E  Match 53  Runners-up Group F  2022  Runners-up Group F
53  Winners Group G  Match 54  Runners-up Group H  2022  Runners-up Group H
54  Winners Group F  Match 55  Runners-up Group E  2022  Runners-up Group E
55  Winners Group H  Match 56  Runners-up Group G  2022  Runners-up Group G
56          Germany  Match 58              Brazil  2022             Germany
57          Senegal  Match 57              France  2022             Senegal
58          Croatia  Match 60              Serbia  2022              Serbia
59      Netherlands  Match 59             Denmark  2022         Netherlands

In [28]:
#df_faltante[df_faltante['home'].isnull()]
df_faltante.dropna(inplace=True)
df_faltante

                home     score              away  year
0              Qatar   Match 1           Ecuador  2022
1            Senegal   Match 2       Netherlands  2022
2              Qatar  Match 18           Senegal  2022
3        Netherlands  Match 19           Ecuador  2022
4            Ecuador  Match 35           Senegal  2022
..               ...       ...               ...   ...
59  Winners Match 51  Match 59  Winners Match 52  2022
60  Winners Match 57  Match 61  Winners Match 58  2022
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022

[64 rows x 4 columns]

In [29]:

df_data_historica= pd.concat([df_data_historica,df_faltante], ignore_index =True)
#eliminar duplicados
df_data_historica.drop_duplicates(inplace=True)
#ordenar por año 
df_data_historica.sort_values('year', inplace = True)
df_data_historica

                 home     score              away  year
0             France        4–1            Mexico  1930
17           Uruguay        4–2         Argentina  1930
16           Uruguay        6–1        Yugoslavia  1930
15         Argentina        6–1     United States  1930
14          Paraguay        1–0           Belgium  1930
..                ...       ...               ...   ...
483             Japan  Match 25        Costa Rica  2022
484             Spain  Match 28           Germany  2022
485             Japan  Match 43             Spain  2022
487           Morocco  Match 12           Croatia  2022
520  Winners Match 61  Match 64  Winners Match 62  2022

[521 rows x 4 columns]

In [30]:
index_eliminar = df_data_historica[df_data_historica['home'].str.contains('Sweden')&
                                  df_data_historica['away'].str.contains('Australia')].index

In [31]:
df_data_historica.drop(index= index_eliminar, inplace = True)

In [32]:
#remplazar texto 
df_data_historica['score'] = df_data_historica['score'].str.replace('[^\d-]','', regex=True)

In [33]:
#separar espacios 
df_data_historica ['score'].str.split('-', expand=True)

      0
0    41
17   42
16   61
15   61
14   10
..   ..
483  25
484  28
485  43
487  12
520  64

[521 rows x 1 columns]

In [34]:
 df_data_historica ['score'].str.split('-', expand=True)

      0
0    41
17   42
16   61
15   61
14   10
..   ..
483  25
484  28
485  43
487  12
520  64

[521 rows x 1 columns]

In [36]:
df_data_historica

                 home score              away  year
0             France     41            Mexico  1930
17           Uruguay     42         Argentina  1930
16           Uruguay     61        Yugoslavia  1930
15         Argentina     61     United States  1930
14          Paraguay     10           Belgium  1930
..                ...   ...               ...   ...
483             Japan    25        Costa Rica  2022
484             Spain    28           Germany  2022
485             Japan    43             Spain  2022
487           Morocco    12           Croatia  2022
520  Winners Match 61    64  Winners Match 62  2022

[521 rows x 4 columns]

In [27]:
df_data_historica.rename(columns = {'home':'HomeTeam', 'away': 'AwayTeam', 'year': 'Year', 'score': 'Score'}, inplace =True)

In [37]:
df_data_historica.to_csv('Clean_fifa_worldcup_matches.csv', index=False ) 
df_fixture.to_csv('Clean_fifa_worldcup_fixture.csv', index=False )